table {
  border-collapse: collapse;
}

td,
th {
  padding: 16px 32px;
}

td:not(:last-child),
th:not(:last-child) {
  border-right: 1px solid black;
}

td:nth-child(odd) {
  text-indent: 0.5em;
}

.table-container {
  height: 300px;
  /* or whatever height you want */
  overflow-y: scroll;
}

.tab-len {
  height: 20px;
}